@media (max-width:755px) {


    /*HEADER*/

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

    }

    .header__content {
        display: flex;
        flex-direction: column;
    }

    .header__logo {
        margin-right: 35px;
        margin-bottom: 15px;
    }

    .header__navigation-items {
        display: flex;
        flex-direction: column;
    }

    .header__navigation-items li {
        text-align: center;
        margin-right: 0px;
    }

    .header__navigation-items a {
        padding: 0;
    }


    .header__navigation-items li:first-child {
        margin-left: 0px;
    }

    /* leaders */

    .leaders__content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        padding-top: 400px;
    }

    .leaders__content h2 {
        font-size: 2.8rem;
    }

    /* devpartners */

    .devpartners {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .devpartners__left {
        border-right: none;
        border-bottom: 1px solid #E8E8E8;
    }

    .devpartners__right ul{
        display: flex;
        flex-direction: column;
        padding-left: 0px;
    }

    .devpartners__right ul li {
        margin:0px;
    }

    /* WHERE ARE YOU NOW*/

    .where__top {
        text-align: center;
    }
    .where__links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .where__links-item {
        margin-right: 0px;
    }

    .where__info-items {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
    }

    .where__info-item {
        text-align: center;
        padding-bottom: 20px;
        padding-right: 38px;
    }

    /* proudof */

    .proudof__top-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .proudof__top-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .proudof__info-item {
        margin-right: 0px;
    }

    .proudof__cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    /* relationship*/

    .relationship__title {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .relationship__partners {
        display: grid;
        grid-template-areas: 'one'
        'two'
        'three'
        'four'
        'five'
        'six'
        'seven'
        'eight';
        text-align: center;
    }

    .relationship__partners {
        text-align: center;
    }

}