@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

ul {
  list-style: none;
  padding: 0px;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/*обнуление стилей a*/
a {
  text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
}

/* HEADER */
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  top: 55px;
}

.header__logo {
  margin-right: 470px;
}

.header__navigation-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__navigation-items li {
  font-size: 1.3rem;
  margin-right: 18px;
}

.header__navigation-items a {
  text-decoration: none;
  color: #ffffff;
  padding: 12px 15px;
  border: 1px solid transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__navigation-items li:first-child {
  margin-left: 24px;
}

.header__navigation-items li:last-child {
  margin-right: 0px;
}

.header__navigation-items a:hover {
  font-size: 1.3rem;
  border: 1px solid #ffffff;
}

/* LEADERS */
.leaders {
  background-image: url(../images/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 200px;
}

.leaders__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 240px;
  color: #ffffff;
}

.leaders__content h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 4.2rem;
  line-height: 50px;
  max-width: 421px;
  margin-bottom: 35px;
}

.leaders__content p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.1rem;
  max-width: 411px;
  margin-bottom: 35px;
}

.leaders__content a {
  font-size: 1.5rem;
  padding: 15px 37px;
  background-color: #0A8BFE;
  border-radius: 3px;
  max-width: 173px;
  color: #ffffff;
}

/*devpartners*/
.devpartners {
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px 25px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  border-radius: 0px;
  position: relative;
  top: -60px;
  margin-bottom: 90px;
}

.devpartners__left {
  max-width: 335px;
  border-right: 1px solid #E8E8E8;
}

.devpartners__left h3 {
  font-size: 2.6rem;
  margin-bottom: 1px;
}

.devpartners__left p {
  font-size: 1.6rem;
  color: #737373;
}

.devpartners__right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.devpartners__right ul li {
  font-size: 1.1rem;
  line-height: 3rem;
  margin-right: 100px;
  margin-bottom: 50px;
  max-width: 128px;
  color: #737373;
}

/* WHERE ARE YOU NOW*/
.where {
  margin-bottom: 150px;
}

.where__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 85px;
}

.where__top h2 {
  font-size: 4.1rem;
  margin-bottom: 35px;
}

.where__top p {
  font-size: 1.2rem;
  color: #737373;
}

.where__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.where__links-item {
  font-size: 2.4rem;
  margin-right: 100px;
  text-decoration: none;
  color: #000000;
}

.where__links-item:hover {
  color: #0A8BFE;
}

.where__links-item:last-child {
  margin-right: 0px;
}

.where__info-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(300px, 560px) minmax(300px, 560px);
      grid-template-columns: minmax(300px, 560px) minmax(300px, 560px);
  -ms-grid-rows: 220px 220px;
      grid-template-rows: 220px 220px;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  margin-left: 15px;
  margin-bottom: 50px;
}

.where__info-item {
  border: 1px solid #E8E8E8;
  padding-left: 40px;
  padding-top: 38px;
}

.where__info-item h4 {
  font-size: 1.9rem;
  margin-bottom: 23px;
}

.where__info-item p {
  font-size: 1.6rem;
  color: #737373;
}

.reg__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reg__button a {
  padding: 15px 49px;
  font-size: 1.5rem;
  color: #ffffff;
  background: #0A8BFE;
  border-radius: 3px;
}

/* proud of */
.proudof {
  background: #0E0E33;
  margin-bottom: 150px;
}

.proudof__top-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.proudof__top-title h2 {
  font-size: 4.1rem;
  font-weight: 400px;
  color: #ffffff;
  margin-top: 150px;
  margin-bottom: 80px;
}

.proudof__top-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 480px;
}

.proudof__info-item {
  color: #ffffff;
  margin-right: 150px;
  max-width: 120px;
}

.proudof__info-item:last-child {
  margin-right: 0px;
}

.proudof__info-item span {
  font-size: 4.2rem;
  margin-bottom: 15px;
}

.proudof__info-item p {
  font-size: 1.1rem;
  line-height: 30px;
}

.proudof__bg {
  background-color: #ffffff;
}

.proudof__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(300px, 565px) minmax(300px, 565px);
      grid-template-columns: minmax(300px, 565px) minmax(300px, 565px);
  -ms-grid-rows: 655px 655px;
      grid-template-rows: 655px 655px;
  grid-gap: 40px;
  position: relative;
  top: -380px;
  margin-bottom: -380px;
}

.proudof__card {
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  border-radius: 0px;
}

.proudof__card img {
  margin-bottom: 45px;
}

.proudof__card span {
  font-size: 2.4rem;
}

.proudof__card p {
  font-size: 1.6rem;
  line-height: 30px;
  padding: 25px 57px 35px 30px;
}

.proudof__btn {
  margin-top: 41px;
}

/* RELATIONSHIP */
.relationship {
  margin-bottom: 60px;
}

.relationship__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.relationship__title h2 {
  font-size: 4.1rem;
  line-height: 50px;
  margin-bottom: 36px;
}

.relationship__title p {
  font-size: 1.1rem;
  line-height: 30px;
  color: #737373;
  max-width: 698px;
  text-align: center;
  margin-bottom: 70px;
}

.relationship__partners {
  background: #f8f8f8;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(134px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(134px, 1fr));
  grid-gap: 120px 140px;
  padding: 99px 122px 80px 83px;
}

.relationship__partner {
  text-align: center;
}

/* regional */
.regional {
  margin-bottom: 80px;
}

.regional__title {
  text-align: center;
  font-size: 4.1rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.regional__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(365px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(365px, 1fr));
  grid-row-gap: 30px;
}

.regional__cards-item {
  width: 365px;
  padding: 29px 24px 34px 20px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
}

.regional__cards-item span {
  font-size: 1.5rem;
  line-height: 30px;
  color: #737373;
}

.regional__cards-item p {
  font-size: 2rem;
  line-height: 28px;
  margin-bottom: 18px;
}

.regional__cards-item svg {
  margin-left: 210px;
}

/*request*/
.request {
  background: url(../images/bgsectionform.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 150px;
}

.request__form {
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 50px;
  max-width: 600px;
  position: relative;
  top: -60px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
}

.request__form span {
  font-size: 2.5rem;
  line-height: 38px;
  max-width: 328px;
  text-align: left;
  margin-bottom: 125px;
}

.request__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 600px;
}

.required {
  border: 1px solid #E8E8E8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 18px 432px 18px 20px;
  text-align: left;
}

.required::-webkit-input-placeholder {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000000;
}

.required:-ms-input-placeholder {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000000;
}

.required::-ms-input-placeholder {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000000;
}

.required::placeholder {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000000;
}

.Details {
  border: 1px solid #E8E8E8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 10px 432px 86px 20px;
}

.Details::-webkit-input-placeholder {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000000;
}

.Details:-ms-input-placeholder {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000000;
}

.Details::-ms-input-placeholder {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000000;
}

.Details::placeholder {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000000;
}

.submit__btn {
  background: #0A8BFE;
  border: 0px;
  border-radius: 3px;
  padding: 18px 47px;
  color: #ffffff;
  font-size: 1.2rem;
}

/*industry*/
.industry {
  margin-bottom: 350px;
}

.industry__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.industry__content h2 {
  font-size: 4.1rem;
  margin-bottom: 35px;
}

.industry__content p {
  font-size: 1.6rem;
  line-height: 30px;
  color: #737373;
  margin-bottom: 35px;
  max-width: 469px;
}

.industry__content-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.industry__content-logos img {
  margin-right: 30px;
}

.industry__content-logos img:last-child {
  margin-right: 0px;
}

/* resources */
.resources {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 160px;
}

.resources__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.resources__title h2 {
  font-size: 4.2rem;
  margin-bottom: 35px;
}

.resources__title p {
  font-size: 1.4rem;
  color: #737373;
  margin-bottom: 75px;
}

.resources__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.resources__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 10px 25px 10px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  margin-right: 30px;
}

.resources__card:last-child {
  margin-right: 0px;
}

.resources__card img {
  margin-bottom: 50px;
  max-width: 340px;
}

.resources__card h4 {
  font-size: 2.4rem;
  margin-bottom: 20px;
  max-width: 278px;
}

.resources__card p {
  font-size: 1.6rem;
  line-height: 30px;
  color: #737373;
  max-width: 278px;
}

/*footer*/
.footer {
  background: #0E0E33;
  color: #ffffff;
}

.footer__content {
  padding-top: 100px;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 150px;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 150px;
}

.footer__links-items {
  width: 320px;
}

.footer__links-items li {
  border-bottom: 1px solid #ffffff;
  padding: 11px 0;
}

.footer__links-items h5 {
  font-size: 2rem;
  line-height: 24px;
}

.footer__link {
  text-decoration: none;
  color: #ffffff;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 34px 0px;
  border-top: 1px solid #ffffff;
}

.footer__bottom span:first-child {
  margin-right: 400px;
}

.footer__bottom a {
  text-decoration: none;
  color: #ffffff;
  margin-right: 20px;
}

.footer__bottom span:last-child {
  margin-left: 400px;
}

@media (max-width: 750px) {
  /*HEADER*/
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__logo {
    margin-right: 35px;
    margin-bottom: 15px;
  }
  .header__navigation-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__navigation-items li {
    text-align: center;
    margin-right: 0px;
  }
  .header__navigation-items a {
    padding: 0;
  }
  .header__navigation-items li:first-child {
    margin-left: 0px;
  }
  /* leaders */
  .leaders__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-top: 400px;
  }
  .leaders__content h2 {
    font-size: 2.8rem;
  }
  /* devpartners */
  .devpartners {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .devpartners__left {
    border-right: none;
    border-bottom: 1px solid #E8E8E8;
  }
  .devpartners__right ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0px;
  }
  .devpartners__right ul li {
    margin: 0px;
  }
  /* WHERE ARE YOU NOW*/
  .where__top {
    text-align: center;
  }
  .where__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .where__links-item {
    margin-right: 0px;
  }
  .where__info-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0px;
  }
  .where__info-item {
    text-align: center;
    padding-bottom: 20px;
    padding-right: 38px;
  }
  /* proudof */
  .proudof__top-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .proudof__top-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .proudof__info-item {
    margin-right: 0px;
  }
  .proudof__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  /* relationship*/
  .relationship__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .relationship__partners {
    display: -ms-grid;
    display: grid;
    text-align: center;
  }
  /*regional*/
  .regional__title {
    font-size: 2rem;
    text-align: center;
  }
  .regional__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /*request form*/
  .request__form {
    padding: 10px 5px;
  }
  .request__form span {
    text-align: center;
  }
  .Details, .required {
    padding: 18px 232px 18px 20px;
  }
  /*industry*/
  .industry__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .industry__content-logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .industry__content-logos img {
    margin-right: 0px;
    margin-bottom: 10px;
  }
  /* resources */
  .resources__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .resources__card {
    margin-bottom: 10px;
  }
  /*footer*/
  .footer__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .footer__top p {
    margin-bottom: 10px;
  }
  .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .footer__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .footer__bottom span:first-child {
    margin-right: 0px;
  }
  .footer__bottom a {
    margin: 0px;
  }
  .footer__bottom span:last-child {
    margin-left: 0px;
  }
}
/*# sourceMappingURL=style.css.map */